/* misc */
@font-face {
	font-family: 'OtariBold-Limited';
	src: url('type/Otari-Bold-Limited-webfont.eot');
	src: url('type/Otari-Bold-Limited-webfont.otf') format('opentype'), local('☺'), url('type/Otari-Bold-Limited-webfont.woff') format('woff'), url('type/Otari-Bold-Limited-webfont.ttf') format('truetype'), url('type/Otari-Bold-Limited-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}
::selection {
	color: white;
	background: #b72217;
}

::-moz-selection {
	color: white;
	background: #b72217;
}

/* normal tags */
h1 {
	font: 20pt "OtariBold-Limited", Georgia, "Times New Roman", Times, serif;
	padding: 0;
	margin-bottom: 0;
}

h1.inline {
	/*display: inline;*/
	display: inline-block;
}

h2 {
	font: 16.5pt "OtariBold-Limited", Georgia, "Times New Roman", Times, serif;
	padding: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: #AF2116;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

a > img {
	border: none;
}

img {
	border: none;
}

a:hover {
	/*color: #C5601D;*/
	color: #DE6C21;
}

span.red {
	color:#C00;
}

/* main design */
body {
	font: 11pt/15.6pt Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "sans serif";
	background: url(img/stakebg.png) top repeat-x #EEEEEE;
	color: #272727;
	margin: 0px;
	padding: 0px;
}

#container {
	width: 900px;
	margin: auto;
	padding-bottom: 10px;
}

#main {
	width: 900px;
	padding: 0;
	padding-bottom: 10px;
	margin-top: 25px;
	float: left;
}

#main.left-box { width: 230px; float: left; }
#main.s { width: 580px; }
#upload-box { float: left; width: 400px; margin: 23px 30px; }
.file-list { list-style: none; padding-left: 0; }
.file-list li { 
	padding: 4px 12px;
	border: 1px solid rgba(0,0,0,0.07);
	border-bottom: 1px solid rgba(0,0,0,0.12);
	border-top: 1px solid rgba(255,255,255,0.95);
		
	background: #EFEFEF; /* old browsers */
	background: -moz-linear-gradient(top, #EFEFEF 0%, #E8E8E8 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EFEFEF), color-stop(100%,#E8E8E8)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EFEFEF', endColorstr='#E8E8E8',GradientType=0 ); /* ie */
}

.accented {
	display: block;
	margin: 10px auto;
	padding: 6px;
	text-align: center;
	border-top: 3px double lightgray;
	border-bottom: 3px double lightgray;
	font: 13px Georgia, "Times New Roman", Times, serif;
	text-transform: lowercase;
}
.accented:hover {
	color: #ECCC6A;
	border-top: 3px double #ECCC6A;
	border-bottom: 3px double #ECCC6A;
	background-color: #A43535;
}
.caps {
	text-transform: uppercase;
	font-size: 90%;	
}
#banner {
	background: url(img/stakehead.png) -80px no-repeat;
	width: 960px;
	margin: auto;
	height: 200px;
}

/* === HEADER === */
#header {
	width: 500px;
	float: right;
	text-align: right;
	padding: 50px;
	color: #eccc6a;
}

#header a {	text-decoration: none; }

.engraved {
	margin-left: 7px;
	background: #931914;
	background: rgba(0, 0, 0, 0.1);
	padding: 4px 10px;
	top: 45px;
	position: relative;
	color: #ECCC6A;
	text-decoration: none;
	font: 14pt Georgia, "Times New Roman", Times, serif;
	-moz-box-shadow: 0 -1px 0 #74100d, 0 1px 0 #a81b17;
	-webkit-box-shadow: 0 -1px 0 #74100d, 0 1px 0 #a81b17;
	box-shadow: 0 -1px 0 #74100d, 0 1px 0 #a81b17;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.engraved:hover {
	background: rgba(0, 0, 0, 0.055);
	background: rgba(0, 0, 0, 0.04);
	color: #F0D686;
	text-decoration: none;
	
	-moz-box-shadow: 0 -1px 0 #650E0C, 0 1px 0 #B12525;
	-webkit-box-shadow: 0 -1px 0 #650E0C, 0 1px 0 #B12525;
	box-shadow: 0 -1px 0 #650E0C, 0 1px 0 #B12525;
}

/* === SUBMENU === */
#submenu {
	padding: 10px;
	background: #E4E4E4;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E4E4E4), color-stop(1, #E5E5E5));
	background: -moz-linear-gradient(center bottom, #E4E4E4 0%, #E5E5E5 100%);
	border-bottom: 1px solid #DFDFDF;
}

#submenu_container {
	width: 900px;
	height: 33px;
	margin: auto;
}

/* === SIDEBAR == */
.sidebar {
	position: relative;
	width: 280px;
	padding: 15px 10px;
	float: right;
	margin: 15px 0;
	background: #E4E4E4;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.sidebar h1 {
	font-size: 17pt;
}
/**/.sidebar>.user {
	margin-bottom: 10px;
}
.sidebar>.user>.gravatar { /*margin: 0 3px;*/
	margin: 3px;
	margin-left: 8px;
	position: relative;
	/**/display: block;
	top: 8px;
}

.sidebar>.user>.username {
	margin-left: 10px;
	/*vertical-align: 40px;*/
	/**/margin-top: 0px;
}
.inline.username>a {
	color: #272727;
}
.inline.username>a:hover {
	color: #DE6C21;
}
.sidebar>.user>.badges {
	/*position: absolute;
	left: 88px;
	top: 58px;*/
	position: relative;
	/*top: 17px;*/
	left: 86px;
	top: -40px;
	margin-left: 10px;
	/*vertical-align: 40px;*/
}

.sidebar ul li { margin-left: 0; }

.sidebar ul li a { border-bottom: none; }

/* === FOOTER === */
#footer {
	clear: both;
	width: 400px;
	height: 15px;
	padding: 10px;
	text-align: center;
	margin: 20px auto;
	margin-bottom: 9px;
	color: #b9b9b9;
	font: 9.5pt Georgia, "Times New Roman", Times, serif;
	background: rgba(255, 255, 255, 0.2);
	-moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.07), 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.07), 0 1px 0 rgba(255, 255, 255, 0.8);
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.07), 0 1px 0 rgba(255, 255, 255, 0.8);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#footer:hover { background: rgba(255, 255, 255, 0.35); }
#footer-links {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 12px;
	width: 500px;
	color: rgba(0,0,0,0.3);
	list-style: none;
}
#footer-links li a { color: inherit; }
#footer-links li a:hover { color: rgba(0,0,0,0.6); text-decoration: none; }
#footer-links li {
	display: inline;
	margin: -10px 7px;
}

/* === FRONT PAGE === */
#main_featured, #main_about {
	height: auto;
	padding: 10px 0;
}
#main_featured { width: 70%; float: left; }

#main_about { width: 26%; float: right; margin-right: 11px; }
#main_about p {
	padding: 0 10px;
	text-align: justify;
	text-justify: newspaper;
}
.clearfloat:after{ content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }

#main_featured .content_box, #main_about .content_box { width: 100%; }

#main_featured ul {
	width: 140px;
	float: right;
	clear: both;
}

#main_featured ul li { list-style: none; }

#main_recent {
	width: 100%;
	height: auto;
	padding: 10px 0;
	margin-top: 20px;
}

#main_recent > .content_box > a > img {
	width: 100px;
	height: auto;
	margin: 10px 12.4px;
	border: none;
}

.content_box {
	width: 890px;
	height: 100%;
	padding: 5px;
	margin-bottom: 5px;
	background: #F8F8F8;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: solid 1px white;
	-moz-box-shadow: 0 2px 0 #e5e5e5;
	-webkit-box-shadow: 0 2px 0 #e5e5e5;
	box-shadow: 0 2px 0 #e5e5e5;
}
.content_box.inverse {
	background: rgba(0,0,0,0.03);
	color: rgba(0,0,0,0.7);
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
hr {
	border: 0;
	width: 97%;
	border-top: 1px solid rgba(0,0,0,0.05);
	border-bottom: 1px solid rgba(255,255,255,0.5);
}
.col-container {
	margin-top: -10px;
	margin-left: 12px;
}
.col {
	float: left;
	text-align: justify;
	text-justify: newspaper;
	position: relative;
	margin: 2%;
	width: 29%;
}
.col-container:after{ content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }

.content_box h1, .content_box h2 {
	line-height: none;
	margin: 10px 0px 0px 10px;
}
.col h2 { margin: 0; }

/* === BOXES/DIVS === */

div #sort {
	text-align:center;
	width:780px;
	padding:10px;
	margin-bottom:15px;
	margin-left:40px;
	background: #F8F8F8;
	border: solid 1px white;
	-moz-box-shadow: 0 2px 0 #e5e5e5;
	-webkit-box-shadow: 0 2px 0 #e5e5e5;
	box-shadow: 0 2px 0 #e5e5e5;
}

div #sort a {
	color:white;
	background:#CCCCCC;
	padding:2px 4px;
	margin:0px 4px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

div #sort a.select {
	background:#AAA;
}

/* === LISTS === */
ul.recent {
	list-style: none;
	display: inline;
}
ul.sub-list {
	font: 12pt Georgia, "Times New Roman", Times, serif;
	float: right;
	margin-top: 9px;
}
ul.sub-list li {
	list-style: none;
	display: inline;
	margin-left: 14px;
}
ul.sub-list li a { color: rgba(0,0,0,0.4); text-shadow: 0 1px 0 rgba(255,255,255,0.4); }
ul.sub-list li a:hover { color: rgba(0,0,0,0.6); text-shadow: 0 1px 0 rgba(255,255,255,0.4); }

ul.recent li {
	display: inline;
	margin: 0 3px;
}

span.notification {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	background: url('../images/asterik.png');
}

ol.breadcrumbs {
	font: 14.5pt "OtariBold-Limited", Georgia, "Times New Roman", Times, serif;
	margin-left: 5px;
	color: #7e7e7e;
	list-style: none;
	display: inline;
}

ol.breadcrumbs li {
	margin-right: 4px;
	display: inline;
}
.breadcrumbs > li:after { content: " >"; }
.breadcrumbs > li:last-of-type:after { content: ""; }

ul.listing li {
	list-style: none;
	width:780px;
	padding:10px;
	margin-bottom:10px;
	background: #F8F8F8;
	border: solid 1px white;
	-moz-box-shadow: 0 2px 0 #e5e5e5;
	-webkit-box-shadow: 0 2px 0 #e5e5e5;
	box-shadow: 0 2px 0 #e5e5e5;
	clear:both;
}
ul.listing li span {
	position: relative;
	top: -48px;
	margin-left: 20px;
}
ul.listing li div {
	position:relative;
	width:300px;
	height:100px;
	display:inline;
	float:right;
	background:url(img/quote_browse_bk.png);
}
ul.listing li > div > p {
	text-align:center;
	font-style:italic;
}

/* buy button */
a>.button.buy {
	width: 300px;
	height: 38px;
	margin-top: 10px;
	margin-left: -10px;
	background: url(img/buy_sprite.png) no-repeat;
	color: #9dd89a;
	color: rgba(176,255,172,0.55);
	font: 16.5pt "OtariBold-Limited", Georgia, "Times New Roman", Times, serif;
	padding-top: 9px;
	text-align: center;
	-moz-text-shadow: 0 -1px 0 #3f6c3c;
	-webkit-text-shadow: 0 -1px 0 #3f6c3c;
	text-shadow: 0 -1px 0 #3f6c3c;
}

a>.button.buy:hover {
	background: url(img/buy_sprite.png) 0px -48px no-repeat;
	color: #9dd89a;
	color: rgba(182,251,141,0.65);
}

a>.button.buy>.price { vertical-align: 3px; }

/* === TABLES === */
table.normal {
	padding: 2px;
	border-spacing: 10px;
	width: 100%;
	text-align: center;
}

table.normal th {
	color: #F0D663;
	border: solid 1px #670E09;
	background: #A02525;
}

table.normal td {
	background: #F7F7F7;
	border: 1px #FFF solid;
}

/* === IMAGES === */
.gravatar, .preview {
	background: #f8f8f8;
	padding: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: solid 1px white;
	-moz-box-shadow: 0 2px 0 #e5e5e5;
	-webkit-box-shadow: 0 2px 0 #e5e5e5;
	box-shadow: 0 2px 0 #e5e5e5;
}

.gravatar:hover, .preview:hover {
	background: #fafafa;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}

/* === RATING SYSTEM === */

.rating {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 110px;
	height: 50px;
	background-color: #DDD;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
 -moz-box-shadow:: 0 0 2px #595959;
	-webkit-box-shadow: 0 0 2px #595959;
	box-shadow: 0 0 2px #595959;
	border: solid 1px #FCFCFC;
}

.rating .inner {
	width: 100px;
	height: 20px;
	position: relative;
	top: 8px;
	left: 5px;
}

.rating .inner_text {
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 12px;
	color: #666;
}

.rating .inner_back {
	height: 20px;
	background: url(../images/rating_back.png) right no-repeat;
	z-index: 1;
	float: right;
}

.rating .inner_front {
	float: left;
	background: url(../images/rating_fill.png) no-repeat;
	height: 20px;
	z-index: 2;
}

.rating .inner_vote {
	height: 20px;
	width: 20px;
	position:absolute;
	cursor: pointer;
}

.rating .inner_vote:hover {
	background: url(../images/rating_hover.png) 0 no-repeat;
}

.rating .inner_vote_back {
	height: 20px;
	width: 100px;
	background: url(../images/rating_back.png) right no-repeat;
	z-index: 1;
	position: absolute;
}

/* === RECAPTCHA === */
#recaptcha_table {
	background-color: #F8F8F8 !important;
	padding: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: solid 1px white !important;
	-moz-box-shadow: 0 2px 0 #e5e5e5;
	-webkit-box-shadow: 0 2px 0 #e5e5e5;
	box-shadow: 0 2px 0 #e5e5e5;
}

#recaptcha_response_field {
	border: 1px solid #DFDFDF !important;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#back, #forward {
	margin: 130px 4px;
	width: 22px;
	height: 30px;
	background: url(../images/arrow_sprite.png) no-repeat;
	
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

#back { float: left; background-position: 0px 0px; }
#back:hover { background-position: 0px -30px; }

#forward { float: right; background-position: -22px 0px; }
#forward:hover { background-position: -22px -30px; }


.forward:after{ content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }

.highlight {
	background: rgba(255,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.15);
	padding: 1px 5px;
	display: inline-block;
	margin: 1px;
}
.green { background: rgba(0,255,0,0.15); }
.orange { background: rgba(255,147,0,0.20); }