#cookiecommons {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dfdfdf), to(#d2d2d2));
	background: -webkit-linear-gradient(top, #dfdfdf, #d2d2d2);
	background: -moz-linear-gradient(top, #dfdfdf, #d2d2d2);
	background: -ms-linear-gradient(top, #dfdfdf, #d2d2d2);
	background: -o-linear-gradient(top, #dfdfdf, #d2d2d2);
	background-color: #dfdfdf;
}

#cookiecommons_title {
	color: #000;
}

#cookiecommons_body {
	color: #585857;
}

#cookiecommons_line {
	border-bottom: 1px solid #BBBBBB;
}

.cookiecommons_btn {
-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50);
background:#FFFFFF;
border:1px solid #BBBBBB;
color:#555555 !important;
text-shadow:0 1px 1px rgba(255, 255, 255, 0.5);
}
.cookiecommons_btn:hover {
background-color:#EEEEEE;
border-color:#999999;
color:#444444 !important;
}
.cookiecommons_btn:active {
background-color:#ffffff;
}
.cookiecommons_span {
	color: #585857;
}
.cookiecommons_span a {
	color: #585857;
}

